---
import Layout from "../layouts/Layout.astro";
import "../styles/article.css";

const pageTitle = "記事一覧 | 埼玉大学宇宙工学サークルあかとき";
const postList = await Astro.glob("../pages/posts/*.md");
---

<Layout pageTitle={pageTitle}>
  <main class="main-container">
    <h1 class="content-title">記事一覧</h1>
    <section class="card-container">
      {
        postList.map((post) => (
          <a href={post.url} class="card">
            <time class="card-time">{post.frontmatter.pubDate}</time>
            <h2 class="card-title">{post.frontmatter.title}</h2>
            <ul class="card-list">
              {post.frontmatter.tags.map((tag) => (
                <li class="card-item">{tag}</li>
              ))}
            </ul>
          </a>
        ))
      }
    </section>
  </main>
</Layout>
